{% if page.has_other_pages %}
<nav>
  <div class="pagination">
    {% if page.has_previous %}
      <a class="button" href="?page={{ page.previous_page_number }}">Предыдущая</a>
    {% else %}
      <button class="button" disabled>Предыдущая</button>
    {% endif %}
    {% for i in page.paginator.page_range %}
    {% if page.number == i %}
      <button class="button" disabled>{{ i }}(текущая)</button>
    {% else %}
      <a class="button" href="?page={{ i }}">{{ i }}</a>
    {% endif %}
    {% endfor %}
    {% if page.has_next %}
      <a class="button" href="?page={{ page.next_page_number }}">Следующая</a>
    {% else %}
      <button class="button" disabled>Следующая</button>
    {% endif %}
  </ul>
</nav>
{% endif %} 