<div class="card mb-3 mt-1 shadow-sm">

  <!-- Отображение текста поста -->
  <div class="card-body">
    <p class="card-text">
      <!-- Ссылка на автора через @ -->
      <a name="quiz_{{ quiz.pk }}" href="{% url 'play' quiz.slug %}">
        <strong class="d-block text-gray-dark">{{ quiz.title }}</strong>
      </a>
      {% if quiz.description %}
        {{ quiz.description|linebreaksbr }}
      {% else %}
        Здесь должно быть описание (⊙_⊙)
      {% endif %}
    </p>

		{% if state.quiz_pk == quiz.pk %}
      <small class="text-muted">{{ state.question_index }} / {{ quiz.questions.count }}</small>
    {% else %}
      <small class="text-muted">    </small>
    {% endif %}
  </div>
</div>