<div class="card">
    <p class="card-title"><a name="quiz_{{ quiz.pk }}" href="{% url 'play' quiz.slug %}" class="card-title">{{ quiz.title }}</a></p>
    {% if quiz.description %}
        <p class="card-description">{{ quiz.description|linebreaksbr }}</p>
    {% else %}
        <p class="card-description">Здесь должно быть описание (⊙_⊙)</p>
    {% endif %}
    {% if state.quiz_pk == quiz.pk %}
        <p class="card-small-text"><small class="card-small-text">Пройдено: {{ state.question_index }} / {{ quiz.questions.count }}</small></p>
    {% endif %}
</div>