<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Загрузка статики -->
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <title>{% block title %}{% endblock %} | Quiztube</title>
</head>
<body>

<header class="header">
    <div class="container">
        <nav class="nav">
            <a href="{% url 'index' %}" class="nav-link">QuizTube</a>
        </nav>
    </div>
</header>
<div class="container">
    <section class="content">
        {% block content %}

        {% endblock %}
    </section>
</div>
<!--FOOTER-->
<footer class="footer">
    <div class="container">
        <h4 class="footer-text">Сделано за один вечер.</h4>
    </div>
</footer>

</body>
</html>