{% extends "base.html" %}
{% block title %} {{ quiz.title }} {% endblock %}
{% block content %}
  {% if question is None %}
    <label class="card-question">Нет вопросов</label><br>
    <a href="{% url 'index' %}"  class="button" type="button">Вернутья на главную</a>
    {% else %}
    <div class="container">
      <label class="card-question">Вопрос: {{ question.content|linebreaksbr }}</label>
      {% if question.image != "" %}
        {% load thumbnail %}
        {% thumbnail question.image "560x400" crop="center" upscale=False as im %}
        <img src="{{ im.url }}" alt="" class="mb-3 mt-1 shadow-sm">
        {% endthumbnail %}
      {% endif %}
      <form method="post" action="{% url 'play' quiz.slug %}" enctype="multipart/form-data">
        {% csrf_token %}
        {% if result is None %}
            {% if question.type == 'choise' %}
              {% for answer in answers %}
                <input type="checkbox" value='on' id="{{ answer.pk }}"/>
                <label for='{{ answer.pk }}'>{{ answer.content }}</label>
                <br>
              {% endfor %}
            {% elif question.type == 'input' %}
              <input class="form-control mb-3 mt-1 shadow-sm" type="text" id="sample3" name="user_input" placeholder="Ваш ответ"/>
            {% endif %}
          <button class="btn btn-success mb-3 mt-1 shadow-sm" type="submit">
            Проверить
          </button>
        {% else %}
          <div>
            {% if result %}
              <h3></h3>
              <span class="badge bg-success">Правильный ответ</span>
            {% else %}
              <span class="badge bg-danger">Неправильный ответ</span>
              <h3></h3>
            {% endif %}
            <p>Правильно: {{ correct_answers }}</p>
            <p>Ваш ответ: {{ user_answers }}</p>
          </div>
          {% if question_index < quiz.questions.count %}
            <button class="btn btn-primary mb-3 mt-1 shadow-sm" type="submit">
              Следующий вопрос
            </button>
          {% else %}
            <a href="{% url 'success_page' quiz.slug %}" class="button">
              Перейти к результатам
            </a>
          {% endif %}
        {% endif %}
      </form>
  {% endif %}
{% endblock %}
